@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  line-height: 1.5;
}

p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

/*Container*/
.container {
  width: 1180px;
  margin: 0 auto;
}
@media (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 991.98px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 767.98px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 575.98px) {
  .container {
    width: 100%;
    padding: 0px 16px;
  }
}

/*End Container*/
/*Button*/
.button {
  font-size: 16px;
  font-weight: 700;
  width: 217px;
  height: 44px;
  border-radius: 57px;
  border: 1.5px solid #003459;
  color: #003459;
  background-color: transparent;
  padding: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button i {
  margin-left: 8px;
}

.inner--button {
  background-color: #003459;
  color: #fff;
}

/*End Button*/
/* Header */
.header {
  padding: 28px 0;
  position: relative;
  z-index: 999;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo img {
  width: auto;
  height: 40px;
}
.header__menu {
  flex: 1;
}
.header__menu ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.header__menu li {
  margin: 0 24px;
}
.header__menu a {
  color: #003459;
  font-size: 16px;
  font-weight: 700;
}
.header__search {
  margin-right: 14px;
}
.header__search form {
  border-radius: 57px;
  border-radius: 46px;
  background-color: #f3f3f3;
  height: 44px;
  overflow: hidden;
  align-items: center;
  width: 280px;
  display: flex;
}
.header__search button {
  height: 44px;
  width: 44px;
  border: 0;
  background-color: transparent;
  padding-left: 16px;
  font-size: 20px;
}
.header__search input {
  font-weight: 500;
  font-size: 14px;
  font-family: "Be Vietnam Pro", sans-serif;
  border: 0;
  outline: 0;
  background-color: transparent;
  flex: 1;
}
.header__button-menu {
  display: none;
}
.header__button-search {
  display: none;
}
@media (max-width: 1199.98px) {
  .header__menu a {
    font-size: 14px;
  }
  .header__search form {
    width: 180px;
  }
  .header__wrap .button {
    width: 190px;
  }
  .header input {
    font-size: 12px;
  }
}
@media (max-width: 991.98px) {
  .header__wrap {
    justify-content: space-between;
  }
  .header__menu {
    display: none;
  }
  .header__search {
    display: none;
  }
  .header .inner--button {
    display: none;
  }
  .header__button-menu, .header__button-search {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 0;
    font-size: 32px;
  }
}

/* End Header */
/* Section-1 */
.section-1 {
  border-radius: 0px 0px 40px 40px;
  background: linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  margin-top: -103px;
  padding-top: 103px;
  overflow: hidden;
}
.section-1__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-1__content {
  width: 65%;
  padding-top: 80px;
  padding-right: 76px;
  position: relative;
}
.section-1__bg-head {
  width: 635px;
  height: 635px;
  border-radius: 99px;
  background-color: #F7DBA7;
  position: absolute;
  bottom: 140%;
  left: -350px;
  transform: rotate(25.23deg);
}
.section-1__bg-1 {
  position: absolute;
  top: 90px;
  left: 10px;
}
.section-1__bg-2 {
  position: absolute;
  bottom: -126px;
  left: 450px;
}
.section-1__title {
  font-weight: 700;
  font-size: 60px;
  color: #002a48;
  padding-bottom: 4px;
  position: relative;
  z-index: 1;
}
.section-1__sub-title {
  font-weight: 700;
  font-size: 46px;
  color: #002a48;
  padding-bottom: 24px;
  position: relative;
  z-index: 1;
}
.section-1__desc {
  font-weight: 500;
  font-size: 16px;
  color: #242b33;
  padding-bottom: 34px;
  position: relative;
  z-index: 1;
}
.section-1__buttons {
  display: flex;
}
.section-1__buttons .button {
  width: 164px;
  height: 48px;
  border: 2px solid black;
  font-size: 16px;
  font-weight: 500;
  z-index: 1;
}
.section-1__buttons .button-2 {
  margin-left: 18px;
  background-color: #003459;
  color: #fdfdfd;
  border: 0;
}
.section-1__image {
  position: relative;
}
.section-1__thumb {
  width: 90%;
  height: auto;
  right: 0px;
  bottom: -6px;
  position: relative;
  z-index: 1;
}
.section-1__bg-3 {
  position: absolute;
  bottom: -30px;
  right: 600px;
  width: calc(100% + 200px);
}
@media (max-width: 1199.98px) {
  .section-1__content {
    width: 70%;
    padding-right: 50px;
  }
  .section-1__bg-head {
    width: 500px;
    height: 500px;
    bottom: 110%;
    left: -190px;
  }
  .section-1__title {
    font-size: 50px;
    font-weight: 700;
  }
  .section-1__sub-title {
    font-weight: 700;
    font-size: 34px;
    padding-bottom: 20px;
  }
  .section-1__thumb {
    width: 70%;
    right: -130px;
    bottom: -7px;
  }
  .section-1__bg-3 {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .section-1__content {
    padding-right: 0px;
  }
  .section-1__title {
    font-size: 47px;
  }
  .section-1__sub-title {
    font-size: 30px;
  }
  .section-1__desc {
    padding-bottom: 10px;
  }
  .section-1__buttons {
    padding-bottom: 10px;
  }
  .section-1__bg-head {
    bottom: 105%;
    left: 60px;
  }
  .section-1__bg-2 {
    width: 500px;
    height: 500px;
    left: 400px;
  }
  .section-1__thumb {
    bottom: -50px;
  }
}
@media (max-width: 767.98px) {
  .section-1__wrap {
    flex-wrap: wrap;
  }
  .section-1__content {
    width: 100%;
  }
  .section-1__bg-head {
    width: 350px;
    height: 350px;
    bottom: 112%;
    left: 60px;
  }
  .section-1__bg-1 {
    display: none;
  }
  .section-1__bg-2 {
    left: 50px;
    bottom: -500px;
  }
  .section-1__image {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .section-1__bg-head {
    bottom: 112%;
    left: 20px;
  }
}

/* End Section-1 */
/* Section-2 */
.section-2__box-head {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.section-2__sub-title {
  font-size: 16px;
  font-weight: 500;
}
.section-2__title {
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #003459;
}
.section-2 .button {
  font-size: 14px;
  font-weight: 500;
  color: #003459;
}
.section-2__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
  margin-bottom: 40px;
}
.section-2__item {
  margin-bottom: 20px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  width: calc(25% - 15px);
  margin-right: 20px;
  padding: 8px 8px 0px 8px;
  border-radius: 12px;
}
.section-2__item:nth-child(4n) {
  margin-right: 0;
}
.section-2__image {
  width: 100%;
  aspect-ratio: 1/1;
  line-height: 1;
}
.section-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.section-2__content {
  margin-top: 16px;
  margin-bottom: 20px;
  margin-left: 16px;
}
.section-2__title a {
  color: #00171f;
  font-size: 16px;
  font-weight: 700;
}
.section-2__info {
  display: flex;
  flex-wrap: wrap;
}
.section-2__info-item {
  color: #667479;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 4px;
  margin-right: 26px;
  position: relative;
}
.section-2__info-item::after {
  content: ".";
  color: #667479;
  font-size: 20px;
  position: absolute;
  left: calc(100% + 10px);
  top: -5px;
  line-height: 1;
}
.section-2__info-item:last-child::after {
  content: "";
}
.section-2__price {
  color: #00171f;
  font-size: 14px;
  font-weight: 700;
}
.section-2 .footer-bottom {
  display: none;
  width: 100%;
  margin-top: -4px;
  margin-bottom: 40px;
}
@media (max-width: 1199.98px) {
  .section-2__info-item:after {
    content: "";
  }
}
@media (max-width: 991.98px) {
  .section-2__item {
    width: calc(33.3333333333% - 13.3333333333px);
  }
  .section-2__item:nth-child(4n) {
    margin-right: 20px;
  }
  .section-2__item:nth-child(3n) {
    margin-right: 0;
  }
}
@media (max-width: 767.98px) {
  .section-2__right {
    display: none;
  }
  .section-2__item {
    width: calc(50% - 10px);
  }
  .section-2__item:nth-child(3n) {
    margin-right: 20px;
  }
  .section-2__item:nth-child(2n) {
    margin-right: 0;
  }
  .section-2 .footer-bottom {
    display: flex;
  }
  .section-2__wrap {
    margin-bottom: 0;
  }
}

/* End Section-2 */
/* Section-3 */
.section-3__wrap {
  display: flex;
  background-image: url(../image/Sec3-BG.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  justify-content: space-between;
  border-radius: 20px;
}
.section-3__image {
  width: 42%;
}
.section-3__image img {
  width: 100%;
  height: auto;
  margin-bottom: -6px;
}
.section-3__content {
  width: 42%;
  text-align: right;
  padding-right: 85px;
  padding-top: 58px;
}
.section-3__title {
  font-size: 52px;
  font-weight: 700;
  color: #003459;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.section-3__sub-title {
  font-size: 36px;
  font-weight: 700;
  color: #003459;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.section-3__desc {
  font-size: 12px;
  font-weight: 500;
  color: #242b33;
  margin-bottom: 24px;
}
.section-3__buttons {
  display: flex;
  justify-content: flex-end;
}
.section-3 .button {
  width: 150px;
}
.section-3 .inner-button {
  margin-left: 18px;
}
@media (max-width: 1199.98px) {
  .section-3__content {
    padding-top: 10px;
  }
  .section-3__title {
    font-size: 40px;
    margin-bottom: 0;
  }
  .section-3__sub-title {
    font-size: 25px;
  }
  .section-3__desc {
    margin-bottom: 5px;
  }
}
@media (max-width: 991.98px) {
  .section-3__wrap {
    flex-wrap: wrap;
    background-image: url(../image/Bg-sec-3-pres.svg);
    background-position: center;
  }
  .section-3__content {
    padding-right: 0;
    padding-top: 0;
    width: 100%;
    order: 1;
    text-align: center;
    padding: 20px;
  }
  .section-3__title {
    font-size: 52px;
  }
  .section-3__sub-title {
    font-size: 36px;
  }
  .section-3__desc {
    font-size: 19px;
  }
  .section-3__image {
    width: 100%;
    order: 2;
  }
  .section-3__buttons {
    justify-content: center;
  }
  .section-3 .button {
    width: 200px;
  }
}
@media (max-width: 575.98px) {
  .section-3__title {
    font-size: 36px;
  }
  .section-3__sub-title {
    font-size: 24px;
  }
  .section-3__desc {
    font-size: 12px;
  }
}

/* End Section-3 */
/* Section-4 */
.section-4__box-head {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 28px;
}
.section-4__sub-title {
  font-size: 16px;
  font-weight: 500;
}
.section-4__title {
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #003459;
}
.section-4 .button {
  font-size: 14px;
  font-weight: 500;
  color: #003459;
}
.section-4__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.section-4__item {
  margin-bottom: 20px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  width: calc(33.3333333333% - 13.3333333333px);
  margin-right: 20px;
  padding: 8px;
  border-radius: 12px;
  background: #fff;
}
.section-4__item:nth-child(3n) {
  margin-right: 0;
}
.section-4 img {
  width: 100%;
  aspect-ratio: 364/243;
  object-fit: cover;
  border-radius: 10px;
}
.section-4__content {
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 16px;
}
.section-4__title a {
  color: #00171f;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
}
.section-4__sub-title {
  color: #242b33;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.section-4__tag {
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 1px 5px;
  font-size: 10px;
  font-weight: 700px;
  background-color: #67b6ef;
  color: #fff;
  border-radius: 8px;
}
.section-4 .footer-bottom {
  display: none;
  width: 100%;
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .section-4__right {
    display: none;
  }
  .section-4__item {
    width: calc(50% - 10px);
  }
  .section-4__item:nth-child(3n) {
    margin-right: 20px;
  }
  .section-4__item:nth-child(2n) {
    margin-right: 0;
  }
  .section-4__wrap {
    margin-bottom: 0px;
  }
  .section-4 .footer-bottom {
    display: flex;
  }
}

/* End Section-4 */
/* Footer */
.footer {
  border-radius: 40px 40px 0px 0px;
  background: linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  padding-top: 80px;
  padding-bottom: 40px;
}
.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003459;
  border-radius: 16px;
  padding: 32px;
  margin-bottom: 40px;
}
.footer__title {
  width: calc(40% - 20px);
  font-size: 20px;
  font-weight: 700;
  color: #fdfdfd;
  text-transform: capitalize;
}
.footer__form {
  display: flex;
  flex: 1;
  background-color: #ffffff;
  border-radius: 14px;
  padding: 12px;
}
.footer__form input {
  flex: 1;
  height: 48px;
  outline: none;
  border: 1px solid #99a2a5;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 12px;
  padding: 14px 28px;
}
.footer__form button {
  height: 48px;
  border-radius: 8px;
  background-color: #003459;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  padding: 0 28px;
  cursor: pointer;
}
.footer__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #667479;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.footer__middle--menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.footer__middle--menu li {
  margin-right: 60px;
}
.footer__middle--menu li:last-child {
  margin-right: 0;
}
.footer__middle--menu a {
  font-size: 16px;
  font-weight: 700;
  color: #002a48;
}
.footer__middle--menu a:hover {
  color: #99a2a5;
}
.footer__middle--social ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}
.footer__middle--social li {
  margin-left: 40px;
}
.footer__middle--social a {
  font-size: 24px;
  color: #002a48;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright {
  font-size: 14px;
  font-weight: 500;
  color: #667479;
}
.footer__logo img {
  height: 40px;
  width: auto;
}
.footer__links ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}
.footer__links li {
  margin-right: 32px;
}
.footer__links li:last-child {
  margin-right: 0px;
}
.footer__links a {
  font-size: 14px;
  font-weight: 500;
  color: #667479;
}
.footer__links a:hover {
  color: #1a1f25;
}
@media (max-width: 991.98px) {
  .footer__middle--menu a {
    font-size: 15px;
    font-weight: 700;
  }
}
@media (max-width: 767.98px) {
  .footer__top {
    flex-wrap: wrap;
  }
  .footer__title {
    width: 100%;
    margin-bottom: 16px;
  }
  .footer__form {
    flex-wrap: wrap;
  }
  .footer__form input {
    width: 100%;
    margin-bottom: 12px;
    margin-right: 0;
  }
  .footer__form button {
    width: 100%;
  }
  .footer__middle {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__middle--menu ul {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer__bottom {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .footer__bottom ul {
    width: 100%;
    order: 1;
    margin-bottom: 12px;
  }
  .footer__copyright {
    width: 100%;
    order: 2;
  }
  .footer__logo {
    width: 100%;
    order: 0;
    margin-bottom: 32px;
  }
}
@media (max-width: 575.98px) {
  .footer__middle--menu a {
    font-size: 14px;
    font-weight: 700;
  }
}

/* End Footer */

/*# sourceMappingURL=style.css.map */
